<!-- Add this form element at the top of the view -->
<form class="form-inline my-3" id="tag-search-form" action="/questions/search" method="GET">
  <input class="form-control mr-sm-2 mb-2" type="search" placeholder="Search by tag" aria-label="Search" name="tag">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<h1>Questions:</h1>
{{#if searchQuery}}
  <p>Showing results for tag: {{searchQuery}}</p>
{{/if}}
{{#each questions}}
  {{#if searchQuery}}
    {{#if tags.includes searchQuery}}
      <div class="card my-3">
        <div class="card-body">
          <h4 class="card-title">{{title}}</h4>
          <p class="card-text">{{description}}</p>
          <p class="card-text"><small class="text-muted">{{tags}}</small></p>
          <a href="/questions/{{_id}}" class="btn btn-warning mx-auto text-center text-bold">Answers</a>
          <form class="delete-question" data-question-id="{{_id}}" data-question-posted-by-id="{{userId}}">
            <button type="button" class="btn btn-danger mt-2 delete-question-btn">Delete</button>
          </form>
        </div>
        <div class="card-footer text-muted">
          Posted by: <span>{{userId}}</span>
          <br>
          Created at: <span>{{createdAt}}</span>
        </div>
      </div>
    {{/if}}
  {{else}}
    <div class="card my-3">
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <p class="card-text">{{description}}</p>
        <p class="card-text"><small class="text-muted">{{tags}}</small></p>
        <a href="/questions/{{_id}}" class="btn btn-warning mx-auto text-center text-bold">Answers</a>
        <form class="delete-question" data-question-id="{{_id}}" data-question-posted-by-id="{{userId}}">
          <button type="button" class="btn btn-danger mt-2 delete-question-btn">Delete</button>
        </form>
      </div>
      <div class="card-footer text-muted">
        Posted by: <span>{{userId}}</span>
        <br>
        Created at: <span>{{createdAt}}</span>
      </div>
    </div>
  {{/if}}
{{/each}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $('.delete-question').each(function() {
    $(this).find('.delete-question-btn').on('click', function(event) {
      event.preventDefault();
      const questionId = $(this).closest('form').attr('data-question-id');
      const questionPostedById = $(this).closest('form').attr('data-question-posted-by-id');
      console.log(' qID'+questionId);
      console.log('qPBYID' +questionPostedById);
      const url = '/questions/' + questionId;
      $.ajax({
        url: url,
        method: 'DELETE',
        contentType: 'application/json',
        data: JSON.stringify({ userId: questionPostedById }),
        success: function(data) {
          console.log('Success:', data);
          const deletedQuestion = $(`[data-question-id="${questionId}"]`).closest('.card');
          deletedQuestion.remove();
          
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.error('Error:', errorThrown);
        }
      });
    });
  });
</script>

